* {
  margin: 0px;
  padding: 0px;
}

/* Navbar */
#navbar {
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 121px;
  padding-left: 88px;
  padding-right: 88px;
  /* border-top: 2px solid lightgrey; */
  border-bottom: 2px solid lightgrey;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 90%; /* Full width */
  overflow: hidden;
  z-index: 99;
   background-color: rgba(0, 0, 0, 1); */
}

#navbar ul {
  display: flex;
  list-style-type: none;
}

#navbar .left img {
  width: 100px;
  margin-top: 2px;
  border-radius: 50%;
}

#navbar a {
  text-decoration: none;
  margin: 18px;
  padding: 13px;
  opacity: 0.7;
  color: darkgrey;
  font-size: 1.2rem;
}

#navbar a:hover {
  opacity: 1;
  text-decoration: underline;
  color: darkgray;
}

#navbar .right {
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar .right img {
  width: 16px;
  margin: 0px 10px;
}

#navbar .right img:hover {
  box-shadow: 0px 0px 5px 5px #ebe6e6;
  animation: glow 0.5s linear one alternate;
}

/* front=1 */
#front-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 88px;
}

#front-1 .left {
  /* border: 2px blue solid; */
  margin: 10px;
  padding: 5px;
  height: 343px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#front-1 h3, #front-1 h1, #front-1 p {
  margin: 5px;
  padding: 3px;
}

#front-1 .btn {
  margin: 5px;
  padding: 3px;
  height: 41px;
  width: 120px;
  background-color: rgb(255, 101, 0);
  font-size: 1rem;
}

#front-1 .btn:hover {
  box-shadow: 0px 0px 5px 5px rgb(255, 101, 0, 0.3);
  animation: glow 0.5s linear one alternate;
}

#front-1 .right {
  padding: 77px;
  margin-top: 73px;
}

/* front-2 */
#front-2 {
  /* border: blue 2px solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 5px;
  height: 700px;
  align-items: center;
}

#front-2 .bottom {
  display: flex;
  justify-content: center;
  border: #ebe6e6 2px solid;
  margin: 34px;
  padding: 16px;
}

#front-2 .bottom img {
  width: 200px;
}

#front-2 .bottom img[src="images/c-1.png"] {
  height: 200px;
}

#front-2 .inner {
  margin: 45px;
  padding: 12px;
  border: #eeeeee 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#front-2 .inner:hover {
  box-shadow: 0px 0px 10px 10px #ebe6e6;
  animation: glow 0.5s linear one alternate;
}

#front-2 .btn-2 {
  width: 183px;
  font-size: 1rem;
  border: 2px dimgrey solid;
  height: 36px;
  margin: 18px;
  padding: 8px;
  font-weight: bold;
  background-color: white;
}

/* front3 */
#front-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#front-3 .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 34px;
  padding: 16px;
  border: 2px #ebe6e6 solid;
  width: 1272px;
  height: 336.7px;
}

#front-3 .bottom .inner {
  margin: 45px;
  padding: 12px;
}

#front-3 .bottom .inner>img {
  width: 200px;
  height: 200px;
  border: #eeeeee 2px solid;
}

#front-3 .bottom .inner>img:hover {
  box-shadow: 0px 0px 10px 10px #ebe6e6;
  animation: glow 0.5s linear one alternate;
}

@keyframes glow {
  to {
    box-shadow: 0px 0px 50px 50px #ebe6e6;
  }
}

#front-3 .bottom .inner .bottom-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

#front-3 .bottom .inner .bottom-nav img {
  width: 20px;
  height: 20px;
  padding: 1px;
  margin-left: 10px;
}

#front-3 .bottom .inner .bottom-nav img:hover {
  box-shadow: 0px 0px 5px 5px #ebe6e6;
  animation: glow 0.5s linear one alternate;
}

#front-3 .bottom .inner .bottom-nav p {
  margin: 2px;
  padding: 2px;
}

/* front-4 */
#front-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1236px;
  height: 112.7px;
  margin: 85px;
  padding: 59px;
  background-color: lightgray;
}

#front-4 #look-1 {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  text-align: left;
  margin-right: 90px;
  padding: 30px;
  font-size: 1rem;
}

#front-4 #look-1 h1, #front-4 #look-1 h5, #front-4 #look-1 p {
  margin: 0.5px;
  padding: 0.3px;
  font-size: 1.1rem;
}

#front-4 #look-1 .btn {
  margin-top: 10px;
  padding: 3px;
  height: 41px;
  width: 120px;
  background-color: rgb(255, 101, 0);
  font-size: 1rem;
}

#front-4 #look-1 .btn:hover {
  box-shadow: 0px 0px 5px 5px rgb(255, 101, 0, 0.3);
  animation: glow 0.5s linear one alternate;
}

#front-4 #look-2 {
  padding: 5px;
  margin: 10px;
}

#front-4 #look-2 img {
  width: 600px;
  height: 200px;
  margin: 28px;
  padding: 56px
}

/* front-5 */
#front-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#front-5 h1 {
  margin: 28px;
  padding: 17px;
  font-size: 2rem;
}

#front-5 .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 16px;
  /* border: 2px #ebe6e6 solid;  */
  border-right: 2px #ebe6e6 solid;
  border-left: 2px #ebe6e6 solid;
  border-top: 2px #ebe6e6 solid;
  width: 1272px;
  height: 244px;
}

#front-5 .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 45px;
  padding: 12px;
  border: 2px #ebe6e6 solid;
}

#front-5 .inner .in {
  display: flex;
  justify-content: center;
  align-items: center;
}

#front-5 .inner .first {
  width: 200px;
  height: 200px;
}

#front-5 .inner .second {
  width: 20px;
  height: 20px;
  padding: 1px;
  margin-left: 10px;
}

#front-5 .bottom-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 16px;
  /* border: 2px #ebe6e6 solid; */
  border-right: 2px #ebe6e6 solid;
  border-left: 2px #ebe6e6 solid;
  border-bottom: 2px #ebe6e6 solid;
  width: 1272px;
  height: 244px;
}

#front-5 .inner-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 45px;
  padding: 12px;
  border: 2px #ebe6e6 solid;
}

#front-5 .inner-2 .in-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#front-5 .inner-2 .first {
  width: 200px;
  height: 200px;
}

#front-5 .inner-2 .second {
  width: 20px;
  height: 20px;
  padding: 1px;
  margin-left: 10px;
}

#front-5 .bottom .inner:hover, #front-5 .bottom-2 .inner-2:hover {
  box-shadow: 0px 0px 5px 5px #ebe6e6;
  animation: glow 0.5s linear one alternate;
}

#front-5 .bottom .inner .in .second:hover, #front-5 .bottom-2 .inner-2 .in-2 .second:hover {
  box-shadow: 0px 0px 5px 5px #ebe6e6;
  animation: glow 0.5s linear one alternate;
}

/* front-6 */
#front-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1236px;
  height: 112.7px;
  margin: 85px;
  padding: 59px;
  background-color: lightgray;
}

#front-6 #look-2 {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  text-align: left;
  margin-right: 90px;
  padding: 30px;
  font-size: 1rem;
}

#front-6 #look-2 h1, #front-4 #look-2 h5, #front-4 #look-2 p {
  margin: 0.5px;
  padding: 0.3px;
  font-size: 2rem;
}

#front-6 #look-2 .btn {
  margin-top: 10px;
  padding: 3px;
  height: 41px;
  width: 120px;
  background-color: rgb(255, 101, 0);
  font-size: 1rem;
}

#front-6 #look-2 .btn:hover {
  box-shadow: 0px 0px 5px 5px rgb(255, 101, 0, 0.3);
  animation: glow 0.5s linear one alternate;
}

#front-6 #look-1 {
  padding: 5px;
  margin: 10px;
}

#front-6 #look-1 img {
  width: 600px;
  height: 200px;
  margin: 28px;
  padding: 56px
}

/* front-7 */
#front-7 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1500px;
  height: 244px;
}

#front-7 h1 {
  margin: 20px;
  padding: 10px;
}

#front-7 .outer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px #ebe6e6 solid;
  width: 898px;
  margin: 0px;
}

#front-7 .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 35px;
  padding: 5px;
  width: 308px;
  /* border: 2px #ebe6e6 solid; */
}

#front-7 .inner img {
  width: 200px;
  height: 200px;
}

#front-7 .btn {
  padding: 3px;
  height: 27px;
  width: 51px;
  background-color: rgb(255, 101, 0);
  font-size: 1rem;
  position: relative;
  left: 70px;
}

#front-7 .inner:hover {
  box-shadow: 0px 0px 3px 3px #ebe6e6;
  animation: glow 0.5s linear one alternate;
}

/* footer */
#footer-1 {
  width: 100%;
  height: 215px;
  /* border: 2px solid aquamarine; */
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  top: 111px;
  background-color: lightgray;
}
#footer-1 .outer-1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#footer-1 .outer-1>img {
  width: 105px;
  border-radius: 50%;
}

#footer-1 .inner img {
  width: 20px;
  height: 20px;
}
#footer-1 p a {
  color: black;
  text-decoration: none;
}
#footer-1 p a:hover {
  text-decoration: underline;
}
#footer-1 p {
    padding: 4px;
}
#footer-1 h2 {
  margin-left: 2px;
}
